body
{
	background:url('../img/scribble_light.png');
}

.navbar .nav > li > a
{
	color:white;
}

.navbar .nav > li > a:hover
{
	opacity: 1;
}

.loginform
{
	margin-left:auto;
	margin-right:auto;
	width:500px;
	margin-top:10%;
}

.header
{
	background: #a80077; /* Old browsers */
	background: -moz-linear-gradient(top,  #a80077 1%, #db36a4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#a80077), color-stop(100%,#db36a4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a80077 1%,#db36a4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a80077 1%,#db36a4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a80077 1%,#db36a4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a80077 1%,#db36a4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80077', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */

	height:135px;
}

.top-nav
{
	margin-top:35px;
}

.top-nav > li > a
{
	color:white;
}

.top-nav > li > a:hover
{
	color:black;
}

.logo
{
	margin-top:20px;
}

/* MULTI-LEVEL DROPDOWNS FOR BOOTSTRAP */
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: 0px;
	
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    left: -7px;
    top: 10px;
}

.navbar .sub-menu:after {
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.navbar-inverse .navbar-inner
{
	background: #cb60b3; /* Old browsers */
	background: -moz-linear-gradient(top,  #cb60b3 0%, #840061 0%, #bc008a 98%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(0%,#840061), color-stop(98%,#bc008a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cb60b3 0%,#840061 0%,#bc008a 98%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cb60b3 0%,#840061 0%,#bc008a 98%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cb60b3 0%,#840061 0%,#bc008a 98%); /* IE10+ */
	background: linear-gradient(to bottom,  #cb60b3 0%,#840061 0%,#bc008a 98%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#bc008a',GradientType=0 ); /* IE6-9 */
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}
